version: '3.8'
services:

  postgres:
    container_name: ${DB_HOST}
    image: postgres:14.1-alpine
    restart: always

    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      
    ports:
      - "${DB_PORT}:${DB_PORT}"

    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql