.container {
  margin-top: 1rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  border: 1px solid #d9dfe6;
  border-radius: 0.5rem;
  margin-bottom: 0.6rem;
  transition: 0.5s;
  -webkit-box-shadow: 6px 8px 14px -3px rgb(206, 206, 206);
  box-shadow: 6px 8px 14px -3px rgb(206, 206, 206);
}

.title{
  width: 100%;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.info{
  margin-top: 1rem;
}

.custom-file{
  margin-top: 1rem;
  border: 1px solid #d9dfe6;
  padding: 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    left: calc(50% - 20rem);
  }
}