<!DOCTYPE html>
<html lang="en">
<head>
    <php

    ></php>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web server </title>
    <link rel="stylesheet" href="stile.css">  

</head>
<body>
      
    <form method="POST" action ="/upload" enctype=" multipart/form-data"> 
        <header>
            <h1>upload files </h1>
            
        </header>
                
            </div>
            <main>
                <p class="test ">lets you upload a file in the site </p>
                <div id ="title" >
                    <h2 class="title">title</h2>
                    <input class ="title" type="text" name="title" placeholder ="write ..."  required><br>
                    <label class="title"></label> 


                </div>
                <div id ="discription">
                    <h2 class="discription">discription</h2>
                    <input class ="distriptin" type="text" name="discription" placeholder="write..." required><br>
                    <label class="discription"></label> 

                </div>


                <div id ="file">
                    <h2 class ="filetoupload">file</h2>
                    <input type="file"  nome ="filetoupload" multiple>
                    <input type ="submit" value="carica">
            
                </form>

                </div>
                <div class="buttons">
                    <a href="#" class ="btn btn-1" value ="save">save</a> <a href="#" class ="btn btn-1" value ="delete">delete</a>
               
                </div>

                </div>
            </main>

      


<script>
    src="index.js"   //deve andare a leggere il index.js inserire codice javascript in html 
</script>


</body>
</html>