<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Intern Developer Plus</title>
</head>

<body class="bg-gray-50">
    <header>
        <nav>
            <div class="bg-black text-white p-4">
                <h1 class="text-xl font-bold font-serif"><i>Intern Developer Plus</i></h1>
            </div>
        </nav>
    </header>
    <main>
        <div class="mt-10">
            <div class="m-auto sm:w-10/12 md:w-8/12 w-1/2 bg-white drop-shadow-xl py-5 grid grid-cols-2">
                <div class="flex flex-col px-5 py-2 gap-4">
                    <div>
                        <form hx-post="http://localhost:8000/importDataFromFile" hx-encoding="multipart/form-data">
                            <label class="block mb-2 text-center text-sm font-medium text-gray-700" for="upload">Upload
                                a file
                                to process</label>
                            <div class="flex gap-5">
                                <input
                                    class="text-sm shadow-sm flex-grow-0 text-gray-900 rounded-lg border border-gray-300 file:border-gray-300 cursor-pointer
                                    file:bg-slate-900 file:text-white file:rounded-none file:cursor-pointer bg-gray-50 dark:text-gray-400 file:py-1 file:px-2 file:focus:outline-none file:border-0"
                                    id="upload" name="upload" type="file">
                                <input type="submit" value="Submit"
                                    class="rounded-md flex-grow bg-slate-900 py-1 px-2 drop-shadow-sm text-white text-sm cursor-pointer">
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div class="shadow-md border border-gray-400">
                        <h2
                            class="py-2 px-4 bg-gray-300 text-center border-b border-gray-400 font-mono font-bold  text-gray-500">
                            Data yet unprocessed
                        </h2>
                        <div class="h-64 overflow-y-auto">
                            <table hx-get="http://localhost:8000/pendingData" hx-trigger="every 10s"
                                hx-target="#data-table-body" class="w-full h-full table text-center" id="data-table">
                                <tbody id="data-table-body">
                                    <tr>
                                        <td class="py-3"></td>
                                    </tr>
                                    <!-- Rows will be inserted dynamically here -->
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="border-l border-gray-300 flex flex-col py-2 px-5 gap-4">
                    <div>
                        <form hx-get="http://localhost:8000/data" id="retrieve" hx-target="#processed-data-table">
                            <label class="block mb-2 text-center text-sm font-medium text-gray-700"
                                for="upload">Retrieve processed data</label>
                            <div class="flex gap-5">
                                <input class="text-sm shadow-sm flex-grow-0  rounded-lg border border-gray-300 cursor-pointer
                                     text-slate-900 file:rounded-none file:cursor-pointer  py-1 px-2" id="upload"
                                    name="from" type="datetime-local">
                                <input type="number" name="limit" id=""
                                    class="py-1 px-2 border text-sm text-center text-slate-900 border-gray-300">
                                <input type="submit" value="Submit"
                                    class="rounded-md flex-grow bg-slate-900 py-1 px-2 drop-shadow-sm text-white text-sm cursor-pointer">
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div class="shadow-md border border-gray-400">
                        <h2
                            class="py-2 px-4 bg-gray-300 text-center border-b border-gray-400 font-mono font-bold  text-gray-500">
                            Processed Data
                        </h2>
                        <div class="h-64 overflow-y-auto">
                            <table class="w-full h-full table text-center">
                                <tbody id="processed-data-table">
                                    <tr>
                                        <td class="py-3"></td>
                                    </tr>
                                    <!-- Rows will be inserted dynamically here -->
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>
    </main>
    <script type="module" src="/js/index.ts">

    </script>
</body>

</html>